In [1]:
import numpy as np
import scipy.io
from utils import *
import matplotlib.pyplot as plt
import pandas as pd

### Load RNP SSI Results

In [2]:
base_path = 'd:/data/rnp/'
ob_skaggs = load_mat_file(Path(base_path) / 'ob_skaggs_dist.mat') 
hc_skaggs = load_mat_file(Path(base_path) / 'hc_skaggs_dist.mat')

In [7]:
col_names = ['mouse_id', 'session_id', 'cluster_id', 'si', 'ssi', 'p_val']
ob_skaggs_df = pd.DataFrame(ob_skaggs, columns=col_names)
hc_skaggs_df = pd.DataFrame(hc_skaggs, columns=col_names)

In [8]:
ob_skaggs_df

      mouse_id  session_id  cluster_id        si       ssi  p_val
0       4122.0         4.0         3.0  0.127664  1.826800  0.026
1       4122.0         4.0         6.0  0.186485  1.307198  0.110
2       4122.0         4.0         9.0  0.194687  1.485198  0.069
3       4122.0         4.0        15.0  0.010700  0.954198  0.180
4       4122.0         4.0        17.0  0.006812 -0.665925  0.740
...        ...         ...         ...       ...       ...    ...
1710    4138.0         7.0       150.0  0.015234  7.975853  0.001
1711    4138.0         7.0       151.0  0.296627  3.589230  0.002
1712    4138.0         7.0       152.0  0.289756 -1.612037  0.930
1713    4138.0         7.0       153.0  0.662420  5.560810  0.000
1714    4138.0         7.0       154.0  0.071957  0.497826  0.318

[1715 rows x 6 columns]

In [9]:
hc_skaggs_df

     mouse_id  session_id  cluster_id        si       ssi  p_val
0      4132.0         3.0         2.0  0.394025  1.815304  0.037
1      4132.0         3.0         5.0  0.434777  1.260629  0.119
2      4132.0         3.0         6.0  0.630351  0.845374  0.164
3      4132.0         3.0        19.0  0.267552  2.215303  0.027
4      4132.0         3.0        22.0  0.234448  3.169805  0.010
..        ...         ...         ...       ...       ...    ...
463    4137.0         3.0        76.0  0.665780  0.421662  0.295
464    4137.0         3.0        93.0  0.241602  1.743368  0.057
465    4137.0         3.0       100.0  0.472849  1.850828  0.065
466    4137.0         3.0       104.0  0.815988  1.955647  0.048
467    4137.0         3.0       110.0  0.221264  3.839189  0.001

[468 rows x 6 columns]

### Filter Clusters with SSI

In [20]:
# Get rows with significant SSI (p_val < 0.05)
significant_ob = ob_skaggs_df[(ob_skaggs_df['ssi'] >= 3) & (ob_skaggs_df['si'] >= 0.5)]
significant_hc = hc_skaggs_df[(hc_skaggs_df['ssi'] >= 3) & (hc_skaggs_df['si'] >= 0.5)]

In [21]:
significant_ob.to_csv(Path(base_path, 'significant_ob.csv'), index=False)
significant_ob

      mouse_id  session_id  cluster_id        si        ssi  p_val
302     4131.0        10.0        64.0  1.617298   3.035687  0.001
419     4131.0        11.0       146.0  3.425485   3.770859  0.015
524     4131.0        16.0        38.0  0.831875  15.778233  0.001
553     4131.0        16.0        70.0  0.841189  16.204790  0.001
587     4131.0        16.0       110.0  0.555578  15.960163  0.001
603     4131.0        17.0         2.0  2.042769   5.851596  0.001
604     4131.0        17.0         4.0  2.305419   5.594114  0.001
605     4131.0        17.0         9.0  0.579075   3.707267  0.001
606     4131.0        17.0        48.0  0.551199   3.975645  0.001
607     4131.0        17.0        56.0  1.834318   4.725987  0.001
610     4131.0        17.0       131.0  0.548206   3.609562  0.003
613     4131.0        17.0       135.0  0.510263   5.691716  0.001
616     4131.0        17.0       141.0  2.276476   5.437456  0.001
624     4131.0        17.0       171.0  1.857720   5.105822  0.001
627     4131.0        17.0       178.0  2.146230   5.428846  0.001
628     4131.0        17.0       183.0  2.059946   4.710980  0.001
655     4131.0        17.0       253.0  0.742095   3.925446  0.001
656     4131.0        17.0       258.0  0.961898   4.915519  0.001
669     4131.0        19.0         4.0  1.221706   6.149235  0.002
670     4131.0        19.0         5.0  0.734074   5.483133  0.001
703     4131.0        19.0        44.0  0.727946   4.804616  0.002
705     4131.0        19.0        48.0  1.122146   5.033666  0.005
709     4131.0        19.0        58.0  1.841468   5.184120  0.002
770     4131.0         3.0        21.0  0.504485   6.892226  0.001
783     4131.0         3.0        60.0  1.089139   4.242406  0.003
1638    4138.0         7.0        72.0  0.501449   5.560593  0.000
1640    4138.0         7.0        74.0  0.632659   4.273736  0.004
1713    4138.0         7.0       153.0  0.662420   5.560810  0.000

In [23]:
significant_hc.to_csv(Path(base_path, 'significant_hc.csv'), index=False)
significant_hc

     mouse_id  session_id  cluster_id        si        ssi  p_val
8      4132.0         3.0        61.0  0.717749   5.144242  0.001
21     4132.0         3.0        98.0  0.967500   4.048413  0.001
47     4132.0         4.0        48.0  0.514326   3.120286  0.011
142    4132.0         6.0         3.0  0.844799   6.460845  0.000
151    4132.0         6.0        19.0  1.216468   6.786655  0.000
159    4132.0         6.0        46.0  0.556092   6.542517  0.000
164    4132.0         6.0        67.0  0.855150   4.679542  0.002
178    4133.0         2.0        12.0  1.853765   4.350130  0.004
179    4133.0         2.0        14.0  1.463805   4.715678  0.004
180    4133.0         2.0        15.0  0.560738   5.138588  0.001
182    4133.0         2.0        19.0  0.842293   4.508709  0.001
183    4133.0         2.0        20.0  0.839091   4.020276  0.002
215    4133.0         4.0        53.0  0.644583   8.997825  0.003
225    4133.0         5.0        24.0  0.551343   6.736460  0.001
249    4134.0         3.0        46.0  1.479575   3.099524  0.007
278    4135.0         1.0        17.0  0.587435   7.586777  0.000
286    4135.0         1.0        28.0  0.524469   5.390132  0.005
292    4135.0         1.0        34.0  0.509749   5.299093  0.001
364    4135.0         2.0        62.0  0.712789  14.852017  0.001
441    4137.0         2.0        13.0  1.236669   5.001706  0.005
442    4137.0         2.0        16.0  1.075041   5.383351  0.001
455    4137.0         2.0        67.0  0.909788   4.725209  0.002
456    4137.0         2.0        68.0  0.866119   4.512953  0.005
457    4137.0         2.0        69.0  0.843789   4.722964  0.002
460    4137.0         2.0        75.0  0.760487   4.043618  0.004